{% extends "encyclopedia/layout.html" %}

{% block title %}
New Page
{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error }} <a href="{% url 'wiki:edit' title %}" style="color: #6c747e;">Click here</a> to edit it.</div>
    {% endif %}

    <h1 style="padding-left: 1%;">New Page Entry</h1>
    <div class="custom-form">
        <form action="{% url 'wiki:new' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Save Page</button>
        </form>
    </div>
{% endblock %}